/* App.css */
.container {
    display: flex;
    /* width: 100%; */
    /* align-items: flex-start; */
  }
  
.left-side {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed; 
}

.left-side p {
    margin: 10px 0;
}
  
.name-section {
    height: 30px;
    margin-bottom: 180px;
    font-family: 'Arial', sans-serif; /* or any other font-family of your choice */
    text-align: left; /* Aligns the text to the left */
    font-size: 20px; /* Adjust the size as needed */
    font-weight: bold; /* Makes the font bold */
    white-space: nowrap; /* Keeps the text in a single line */
    overflow: hidden;
}

.nav-section, .about-section {
    margin-bottom: 40px;
}
  
.nav-section h2, .about-section h2 {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.contact-info {
    font-size: 0.8em;
}

.right-cv {
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Prevent dragging outside the viewport */
    margin-left: 420px;
}