/* project.css */

/* Styles for the container of portfolio projects */
.portfolio-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 185px;
    margin-left: 420px;
}

/* Styles for the grid layout of portfolio projects */
.portfolio-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates a 4-column layout */
    row-gap: 50px;
    align-items: start;
}  

/* Styles for individual project cards */
.project {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black; /* Top line */
    border-bottom: 2px solid black; /* Bottom line */
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 30px; 
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for project cards */
.project:hover {
    transform: translateY(-30px); /* Makes the card pop up */
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.project h2 {
    font-size: 1.0em;
    font-weight: 520;
}

.project h3 {
    font-size: 0.9em;
    padding-top: 5px;
}

.project p {
    padding: 10px 0;
    line-height: 1.6;
    font-weight: 100;
    font-size: 0.9em;
    color: #7d7d7d;
}

.project p:hover {
    font-style: italic;
}

/* Styles for the plus icon */
.project .plus-icon {
    position: absolute;
    bottom: 8px; 
    left: 10px;
    background-color: #000000; 
    width: 14px; 
    height: 14px;
    line-height: 20px; 
    text-align: center; 
    border-radius: 50%; 
    color: white; 
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for responsiveness */
/* Even smaller screens, 2 column layout */  
@media only screen and (max-width: 800px) {
    .portfolio-container {
        width: 95%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 600px;
        position: relative;
        background-color: white;
    }

    .portfolio-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}