/* PortfolioPage.css */
.portfolio-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 238px;
    margin-left: 420px;
}

.portfolio-projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates a 4-column layout */
    row-gap: 50px;
    align-items: start;
  }  

.project {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black; /* Top line */
    border-bottom: 2px solid black; /* Bottom line */
    padding: 8px; /* Adjust padding as needed */
    padding-top: 15px;
    padding-bottom: 30px; /* Padding at the bottom, 10px away from the last content */
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.project:hover {
    transform: translateY(-30px); /* Makes the card pop up */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); */
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.project h2 {
    font-size: 1.0em;
    font-weight: 520;
}

.project h3 {
    font-size: 0.9em;
    padding-top: 5px;
}

.project p {
    padding: 10px 0;
    line-height: 1.6;
    font-weight: 100;
    font-size: 0.9em;
    color: #7d7d7d;
}

.project p:hover {
    font-style: italic;
}

.project .plus-icon {
    position: absolute;
    bottom: 8px; /* Adjust as needed to place it outside the card */
    left: 10px; /* Center horizontally */
    background-color: #000000; /* Background color of the icon's box */
    width: 14px; /* Size of the icon's box */
    height: 14px; /* Size of the icon's box */
    line-height: 20px; /* Align the '+' vertically */
    text-align: center; /* Align the '+' horizontally */
    border-radius: 50%; /* Make it round */
    color: white; /* Text color of the '+' icon */
    font-size: 20px; /* Size of the '+' icon */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust the grid layout for smaller screens */
@media (max-width: 767px) {
    .portfolio-projects {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
    }
}

/* Even smaller screens, 1 column layout */
@media (max-width: 480px) {
    .portfolio-projects {
        grid-template-columns: 1fr; /* 1 column on very small screens */
    }
}
  
  