/* story.css */

/* Styles for the right column containing the CV */
.rightCV {
    width: 100%;
    margin-left: 420px;
    line-height: 1.7;
}

.cv {
   width: 36%;
}

/* Styles for the wrapper containing the timeline and content */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
/* Styles for the timeline */
.timeline {
    height: 160px;
    width: 2px;
    background-color: #e5e5e5;
}

/* Styles for the stub section */
.stub1 {
    font-size: 24px;
    background-color: #eae4e4;
}
  
.stub2 {
    height: 600px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 100px;
}

.stub2 h2 {
    font-weight: 800;
    padding-bottom: 10px;
}

/* Styles for list items */
li {
    padding-bottom: 8px;
}

li p {
    margin-left: 20px;
    color: rgb(146, 146, 146);
}

.self-sketch {
    width: 600px;
}

.story-top {
    display: flex;
    direction: column;
}
  
/* Styles for circles related stuffs in the timeline */
.circle {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background-color: #e5e5e5;
}
  
.circleWrapper {
    position: relative;
}
  
.message {
    max-width: 400px;
}
  
/* Media query for responsiveness */
@media only screen and (max-width: 800px) {
    .rightCV {
        margin-left: 20px;
        margin-top: 560px;
        position: relative;
        background-color: white;
    }
    .timeline {
        height:120px;
    }
}
