/* topNavigation.css */

/* Container for the top navigation */
.top-container {
  font-family: 'Metropolis', sans-serif;
  padding-top: 30px;
}

/* Styles for the top navigation bar */
.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
}

/* Styles for the name/logo in the navigation bar */
.name {
  font-weight: 600;
  font-size: 12.5px;
  margin-left: 20px;
}

/* Styles for the menu items in the navigation bar */
.menu-item {
  font-size: 12px;
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

/* Hover styles for the menu items */
.menu-item:hover {
  text-decoration: underline;
}
